<html>
<head><title>Wisata</title>
    <link href="css/cs.css" rel="stylesheet" type="text/css">
   >
</head>
<body bgcolor="#8587cd">
<div class="menuatas">
    <ul>
         <li><a href="/">home</a></li>
         <li><a href="/sleman">objek wisata</a></li>
            
    </ul>
</div>
<div>
    <img src="img/tempatwisata/candiprambanan.jpg" class="cover">
     <table border="0"   width="100%">
        <tr>
             <th class="th2" colspan="2"><h1>Candi Prambanan</h1></th>
        </tr>
        <tr>
            <td bgcolor="white" class="pd" width="80%">
                <hr>
                <b>Candi Prambanan ini sering juga disebut Candi Rara Jonggrang atau Lara Jonggrang yang terletak di Prambanan. Candi ini terletak di pulau Jawa, kurang lebih 20 km timur Yogyakarta, 40 km barat Surakarta dan 120 km selatan Semarang, persis di perbatasan antara provinsi Jawa Tengah dan Daerah Istimewa Yogyakarta. Candi Rara Jonggrang terletak di desa Prambanan yang wilayahnya dibagi antara kabupaten Sleman dan Klaten. Candi ini dibangun pada sekitar tahun 850 Masehi oleh salah seorang dari kedua orang ini, yakni: Rakai Pikatan, raja kedua wangsa Mataram I atau Balitung Maha Sambu, semasa wangsa Sanjaya. Tidak lama setelah dibangun, candi ini ditinggalkan dan mulai rusak.
</b><hr>
                <p>
                  Pada tahun 1733, candi ini ditemukan oleh CA. Lons seorang berkebangsaan Belanda, kemudian pada tahun 1855 Jan Willem IJzermanmulai membersihkan dan memindahkan beberapa batu dan tanah dari bilik candi. beberapa saat kemudian Isaäc Groneman melakukan pembongkaran besar-besaran dan batu-batu candi tersebut ditumpuk secara sembarangan di sepanjang Sungai Opak. Pada tahun1902-1903, Theodoor van Erp memelihara bagian yang rawan runtuh. Pada tahun 1918-1926, dilanjutkan oleh Jawatan Purbakala (Oudheidkundige Dienst) di bawah P.J. Perquin dengan cara yang lebih metodis dan sistematis, sebagaimana diketahui para pendahulunya melakukan pemindahan dan pembongkaran beribu-ribu batu tanpa memikirkan adanya usaha pemugaran kembali.Pada tahun 1926 dilanjutkan De Haan hingga akhir hayatnya pada tahun 1930. Pada tahun 1931 digantikan oleh Ir. V.R. van Romondt hingga pada tahun 1942 dan kemudian diserahkan kepemimpinan renovasi itu kepada putra Indonesia dan itu berlanjut hingga tahun 1993. Banyak bagian candi yang direnovasi, menggunakan batu baru, karena batu-batu asli banyak yang dicuri atau dipakai ulang di tempat lain. Sebuah candi hanya akan direnovasi apabila minimal 75% batu asli masih ada. Oleh karena itu, banyak candi-candi kecil yang tak dibangun ulang dan hanya tampak fondasinya saja. Sekarang, candi ini adalah sebuah situs yang dilindungi oleh UNESCO mulai tahun 1991. Antara lain hal ini berarti bahwa kompleks ini terlindung dan memiliki status istimewa, misalkan juga dalam situasi peperangan.
                </p>
				<p> 
					Kompleks candi ini terdiri dari 8 kuil atau candi utama dan lebih daripada 250 candi kecil. Tiga candi utama disebut Trisakti dan dipersembahkan kepada sang hyang Trimurti: Batara Siwa sang Penghancur, Batara Wisnu sang Pemelihara dan Batara Brahma sang Pencipta. Candi Siwa di tengah-tengah, memuat empat ruangan, satu ruangan di setiap arah mata angin. Sementara yang pertama memuat sebuah arca Batara Siwa setinggi tiga meter, tiga lainnya mengandung arca-arca yang ukuran lebih kecil, yaitu arca Durga, sakti atau istri Batara Siwa, Agastya, gurunya, dan Ganesa, putranya. Arca Durga juga disebut sebagai Rara atau Loro Jongrang oleh penduduk setempat. Dua candi lainnya dipersembahkan kepada Batara Wisnu, yang menghadap ke arah utara dan satunya dipersembahkan kepada Batara Brahma, yang menghadap ke arah selatan. Selain itu ada beberapa candi kecil lainnya yang dipersembahkan kepada sang lembu Nandini, wahana Batara Siwa, sang Angsa, wahana Batara Brahma, dan sang Garuda, wahana Batara Wisnu.

</p>
               <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                <br>
            </td>
            <td bgcolor="white" width="40%" >
                <table border="0" width="100%" >
                    <tr>
                        <th bgcolor="yellow" height="50px">Rekomendasi Hotel DIY</th>
                    </tr>
                    <th class="tb">
                        <nav class="hotel">
                                <div class="hotela">Special potongan 30% </div>
                            <br><br> <br><br> 
                                <div class="hotelb"><a href="/hotel">Pesan Sekarang</a></div>
                        </nav>
                    </th>
                    <tr>
                        <th bgcolor="yellow" height="50px">Rekomendasi Restoran Sleman</th>
                    </tr>
                    <td class="tb">
                    <nav class="nav2">
                            <ul>
                                <li><a href="">Gudeg</a></li>
                                <li><a href="">Soto Simbok</a></li>
                                
                            </ul>
                    </nav>
            </td>
            <tr>
                        <th bgcolor="yellow" height="50px">Wisata Lain di Sleman</th>
                    </tr>
                    <td class="tb">
                    <nav class="nav2">
                            <ul>
                                <li><a href="candiprambanan.html">Candi Prambanan</a></li>
                                <li><a href="ratuboko.html">Candi Ratu Boko</a></li>
                            </ul>
                    </nav>
            </td>
                </table>
            </td>
        </tr>
    </table>
       
    </div>
</div>
<div class="fot" >
    <br>
   <h4 align="center" >
        Copy right 2020 Ujian Akhir Semester
    </h4>
</div>