<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">    
    <title>Profile Perusahaan</title>   
    <link rel="stylesheet" href="css/index.css">    
</head>
<body>
    <div class="container">
        <center>
        <h1>Seiha Company</h1>-
    </center>
    
    <!--Table Container-->
    <table class="table-container">
        <tr>
            <!--Profile Perusahaan-->
            <td class="Profile">

            <hr>
            <h1 class="title">Seiha Company</h1> 

            <div>

            <img src="img/logo.png" alt="">
            <span>
				Perusahaan ini berdiri semenjak UAS Pemrograman Web Diadakan. Perusahaan ini bergerak lebih mendalam menuju penginapan namun perusahaan ini juga mengenalkan tempat terbaik untuk berwisata di Provinsi Daerah Istimewa Yogyakarta.
				Perusahaan ini mempunyai misi mengenalkan wisata daerah di kenalkan ke public agar wisatawan tidak kebingungan dalam wisata di daerah istimewa yogyakarta. dan memberikan informasi hotel terbaik atau hotel yang ada di daerah istimewa yogyakarta.
            </span>

            </div>

            </td>

            <!--my skill-->
            <td class="Skill">
                    <hr>
                    <h1 class="title">Social Media</h1> 
                    <div class="content">
                        
                        <ul>

                            <li>
                                <strong> Instagram
                                <div 
									<a href=""> <img class=""  src="img/ins.png" align="center" class=>@seiha_4646</a>
									
									
                                </div>
                            </li>
                            <li>
                                Twitter
                                <div 
									<a href=""> <img class=""  src="img/twt.png" align="center" class=>@seiha_4646</a>
                                </div>
                            </li>
                            <li>
                                Facebook
                                <div 
									<a href=""> <img class=""  src="img/fb.png" align="center" class=>seiha mantp2</a>
                                 </div>
                             </li>

                        </ul>
                    </div>
            </td>
        </tr>

        <tr>
            <!--My Experience-->
            <td>
                    <hr>
                    <h1 class="title">Visi dan Misi</h1>
                    <div>
                        bertujuan untuk mengenalkan beberapa tempat wisata di Daerah Istimewa Yogyakarta kepada khalayak umum.
                    </div>
            </td>

        </tr>

        <tr>
            <!--Admin-->
            <td>
                    <hr>
                    <h1 class="title">Admin</h1>
                    <div>
                        <ul>
                        <li><a href="/admin">Admin</a></li>
                        </ul>
                    </div>
            </td>

        </tr>
    </table>


    </div>
</body>
</html>