<html>
<head><title>Wisata</title>
    <link href="css/cs.css" rel="stylesheet" type="text/css">
   >
</head>
<body bgcolor="#8587cd">
<div class="menuatas">
    <ul>
         <li><a href="/">home</a></li>
         <li><a href="/sleman">objek wisata</a></li>
           
    </ul>
</div>
<div>
    <img src="img/tempatwisata/jogjabay.jpg" class="cover">
     <table border="0"   width="100%">
        <tr>
             <th class="th2" colspan="2"><h1>jogjabay</h1></th>
        </tr>
        <tr>
            <td bgcolor="white" class="pd" width="80%">
                <hr>
                <b>jadwal buka jogjabay Weekdays, Loket : 09.00-16.00, Wahana : 09.00-18.00, Theater : 09.00-22.00. Weekend, Loket : 08.00-16.00, Wahana : 09.00-18.00, Theater : 09.00-22.00</b><hr>
                <p>
                  Jogja Bay Waterpark (JBW) salah satu waterpark terbesar di asia tenggara yang berlokasi di kota wisata terbesar kedua di indonesia yaitu Yogyakarta. Dan belakangan ini sudah menjadi salah satu tujuan destinasi wisata di Yogyakarta. 
                </p>
                <p>Keunikan Jogja Bay terdapat story telling antara Tradisi Jogja deangan para bajak laut Eropa yang dituangkan melalui On-Site Live Show, Karakter, Water rides dan merchandise.</p>
				<p> 
					Tema dan Nuansa Jogja Bay menjadi sebuah perkampungan tua Bajak Laut yang bernuansa Tropical Lust yang penuh dengan tanaman hijau dan thematic old pirates. Selain itu jogja bay juga terdapat 9 wahana seru yang bisa dimainkan.</p>
               <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                <br>
            </td>
            <td bgcolor="white" width="40%" >
                <table border="0" width="100%" >
                    <tr>
                        <th bgcolor="yellow" height="50px">Rekomendasi Hotel DIY</th>
                    </tr>
                    <th class="tb">
                        <nav class="hotel">
                                <div class="hotela">Special potongan 30% </div>
                            <br><br> <br><br> 
                                <div class="hotelb"><a href="/hotel">Pesan Sekarang</a></div>
                        </nav>
                    </th>
                    <tr>
                        <th bgcolor="yellow" height="50px">Rekomendasi Restoran Sleman</th>
                    </tr>
                    <td class="tb">
                    <nav class="nav2">
                            <ul>
                                <li><a href="">Gudeg</a></li>
                                <li><a href="">Soto Simbok</a></li>
                                
                            </ul>
                    </nav>
            </td>
            <tr>
                        <th bgcolor="yellow" height="50px">Wisata Lain di Sleman</th>
                    </tr>
                    <td class="tb">
                    <nav class="nav2">
                            <ul>
                                <li><a href="/candiprambanan">Candi Prambanan</a></li>
                                <li><a href="/ratuboko">Candi Ratu Boko</a></li>
                            </ul>
                    </nav>
            </td>
                </table>
            </td>
        </tr>
    </table>
       
    </div>
</div>
<div class="fot" >
    <br>
   <h4 align="center" >
        Copy right 2020 Ujian Akhir Semester
    </h4>
</div>