<html>
<head><title>Wisata</title>
    <link href="css/cs.css" rel="stylesheet" type="text/css">
   >
</head>
<body bgcolor="#8587cd">
<div class="menuatas">
    <ul>
         <li><a href="/">home</a></li>
         <li><a href="/sleman">objek wisata</a></li>
            
    </ul>
</div>
<div>
    <img src="img/tempatwisata/kaliurang.jpg" class="cover">
     <table border="0"   width="100%">
        <tr>
             <th class="th2" colspan="2"><h1>Kaliurang</h1></th>
        </tr>
        <tr>
            <td bgcolor="white" class="pd" width="80%">
                <hr>
                <b>Kaliurang terletak di daerah dataran tinggi, banyak resor atau tempat peristirahatan karena udara sejuk yang banyak dicari oleh orang perkotaan. Maka di sini terdapat banyak vila-vila penginapan, kebanyakan orang sekitar menyebutnya wisma. Tempat yang paling banyak dikunjungi oleh wisatawan baik dalam maupun luar negeri adalah Tlaga Putri.</b><hr>
                <p>
                  Di Kaliurang terdapat sebuah bangunan bersejarah yaitu Wisma Kaliurang. Di sana pernah terjadi Perundingan Khusus antara Republik Indonesia dengan Komisi Tiga Negara pada 13 Januari 1948. Perundingan Kaliurang ini melahirkan Notulen Kaliurang.
                </p>
				<p> 
					Akses menuju ke Kaliurang sangat mudah. Setidaknya dengan jalan kaki atau menumpang angkutan bus, kol (Colt), taksi, ojek atau becak (jarang yang mau), melewati Jalan Kaliurang. Jarak Kaliurang ke Yogyakarta kurang dari 1 jam perjalanan, dan ke Surakarta kurang dari 3 jam perjalanan.</p>
               <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                <br>
            </td>
            <td bgcolor="white" width="40%" >
                <table border="0" width="100%" >
                    <tr>
                        <th bgcolor="yellow" height="50px">Rekomendasi Hotel DIY</th>
                    </tr>
                    <th class="tb">
                        <nav class="hotel">
                                <div class="hotela">Special potongan 30% </div>
                            <br><br> <br><br> 
                                <div class="hotelb"><a href="/hotel">Pesan Sekarang</a></div>
                        </nav>
                    </th>
                    <tr>
                        <th bgcolor="yellow" height="50px">Rekomendasi Restoran Sleman</th>
                    </tr>
                    <td class="tb">
                    <nav class="nav2">
                            <ul>
                                <li><a href="">Gudeg</a></li>
                                <li><a href="">Soto Simbok</a></li>
                                
                            </ul>
                    </nav>
            </td>
            <tr>
                        <th bgcolor="yellow" height="50px">Wisata Lain di Sleman</th>
                    </tr>
                    <td class="tb">
                    <nav class="nav2">
                            <ul>
                                <li><a href="/candiprambanan">Candi Prambanan</a></li>
                                <li><a href="/ratuboko">Candi Ratu Boko</a></li>
                            </ul>
                    </nav>
            </td>
                </table>
            </td>
        </tr>
    </table>
       
    </div>
</div>
<div class="fot" >
    <br>
   <h4 align="center" >
        Copy right 2020 Ujian Akhir Semester
    </h4>
</div>