<html>
<head><title>Wisata</title>
    <link href="css/cs.css" rel="stylesheet" type="text/css">
  
</head>
<body bgcolor="#8587cd">
<div class="menuatas">
    <ul>
         <li><a href="/">home</a></li>
         <li><a href="/Objek">Objek wisata</a></li>
         
    </ul>
</div>
<div>
     <table border="0"   width="95%">
        <tr>
             <th class="th"><h2>Kabupaten/Kota</h2></th>
        </tr>
        <tr>
            
            <td class="tb">
                     <nav class="nav">
                        <ul>
                                <li><a href="/Sleman">Kabupaten Sleman</li>
                                <li><a href="/Kulonprogo">Kabupaten Kulonprogo</li>
                                <li><a href="/Gunungkidul">Kabupaten Gunungkidul</li>
                                <li><a href="/Bantul">Kabupaten Bantul</a></li>
                                <li><a href="/Yogyakarta">Kota Yogyakarta</a></li>
                        </ul>
                     </nav>
            </td>
            <td >
                
            </td>
        </tr>
    </table>
       
    </div>
</div>
<div class="fot" >
    <br>
   <h4 align="center" >
        Copy right 2020 Ujian Akhir Semester
    </h4>
</div>