<html>
<head><title>Wisata</title>
    <link href="css/cs.css" rel="stylesheet" type="text/css">
   >
</head>
<body bgcolor="#8587cd">
<div class="menuatas">
    <ul>
         <li><a href="/">home</a></li>
         <li><a href="/sleman">objek wisata</a></li>
        
    </ul>
</div>
<div>
    <img src="img/tempatwisata/ratuboko.jpg" class="cover">
     <table border="0"   width="100%">
        <tr>
             <th class="th2" colspan="2"><h1>Ratu Boko</h1></th>
        </tr>
        <tr>
            <td bgcolor="white" class="pd" width="80%">
                <hr>
                <b>Ratu Boko terletak sekitar 3 km ke arah selatan dari Candi Prambanan. Kawasan Ratu Boko yang berlokasi di atas sebuah bukit dengan ketinggian ± 195.97 m diatas permukaan laut</b><hr>
                <p>
                   Situs Ratu Boko sebenarnya bukan sebuah candi, melainkan reruntuhan sebuah kerajaan. Oleh karena itu, Candi Ratu Boko sering disebut juga Kraton Ratu Boko. Disebut Kraton Boko, karena menurut legenda situs tersebut merupakan istana Ratu Boko, ayah Lara Jonggrang. 
                </p>
                <p>Diperkirakan situs Ratu Boko dibangun pada abad ke-8 oleh Wangsa Syailendra yang beragama Buddha, namun kemudian diambil alih oleh raja-raja Mataram Hindu. Peralihan ‘pemilik’ tersebut menyebabkan bangunan Kraton Boko dipengaruhi oleh Hinduisme dan Buddhisme.</p>
                <p>Di situs Ratu Boko ditemukan sebuah prasasti berangka tahun 792 M yang dinamakan Prasasti Abhayagiriwihara. Isi prasasti tersebut mendasari dugaan bahwa Kraton Ratu Boko dibangun oleh Rakai Panangkaran. Prasasti Abhayagiriwihara ditulis menggunakan huruh pranagari, yang merupakan salah satu ciri prasasti Buddha.</p>  
                <p>Dalam prasasti itu disebutkan bahwa Raja Tejapurnama Panangkarana, yang diperkirakan adalah Rakai Panangkaran, telah memerintahkan pembangunan Abhayagiriwihara. Nama yang sama juga disebut-sebut dalam Prasasti Kalasan (779 M), Prasati Mantyasih (907 M), dan Prasasti Wanua Tengah III (908 M). Menurut para pakar, kata abhaya berarti tanpa hagaya atau damai, giri berarti gunung atau bukit. </p> 
                <p>
                  Dengan demikian, Abhayagiriwihara berarti biara yang dibangun di sebuah bukit yang penuh kedamaian. Pada pemerintahan Rakai Walaing Pu Kombayoni, yaitu tahun 898-908, Abhayagiri Wihara berganti nama menjadi Kraton Walaing.
				  Kraton Ratu Boko yang menempati lahan yang cukup luas tersebut terdiri atas beberapa kelompok bangunan. Sebagian besar di antaranya saat ini hanya berupa reruntuhan. 
                </p>
               <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                <br>
            </td>
            <td bgcolor="white" width="40%" >
                <table border="0" width="100%" >
                    <tr>
                        <th bgcolor="yellow" height="50px">Rekomendasi Hotel DIY</th>
                    </tr>
                    <th class="tb">
                        <nav class="hotel">
                                <div class="hotela">Special potongan 30% </div>
                            <br><br> <br><br> 
                                <div class="hotelb"><a href="/hotel">Pesan Sekarang</a></div>
                        </nav>
                    </th>
                    <tr>
                        <th bgcolor="yellow" height="50px">Rekomendasi Restoran Sleman</th>
                    </tr>
                    <td class="tb">
                    <nav class="nav2">
                            <ul>
                                <li><a href="">Gudeg</a></li>
                                <li><a href="">Soto Simbok</a></li>
                                
                            </ul>
                    </nav>
            </td>
            <tr>
                        <th bgcolor="yellow" height="50px">Wisata Lain di Sleman</th>
                    </tr>
                    <td class="tb">
                    <nav class="nav2">
                            <ul>
                                <li><a href="/candiprambanan">Candi Prambanan</a></li>
                                
                            </ul>
                    </nav>
            </td>
                </table>
            </td>
        </tr>
    </table>
       
    </div>
</div>
<div class="fot" >
    <br>
   <h4 align="center" >
        Copy right 2020 Ujian Akhir Semester
    </h4>
</div>