<html>
<head><title>Wisata</title>
    <link href="css/cs.css" rel="stylesheet" type="text/css">
</head>
<body bgcolor="#8587cd">
<div class="menuatas">
    <ul>
         <li><a href="/">home</a></li>
         <li><a href="/objek">objek wisata</a></li>
              
    </ul>
</div>
<div>
    <table border="0"  width="100%">
        <tr>
             <th class="th"><h2>Kabupaten/Kota</h2></th>
            <th class="th"><h2>Wisata Sleman</h2></th>
            <th class="th"><h2>Informasi Wisata</h2></th>
        </tr>
        <tr>
            <td class="tb">
                    <nav class="nav">
                            <ul>
                                <li><a href="/sleman">Kabupaten Sleman</li>
                                <li><a href="/Kulonprogo">Kabupaten Kulonprogo</li>
                                <li><a href="/Gunungkidul">Kabupaten Gunungkidul</li>
                                <li><a href="/Bantul">Kabupaten Bantul</a></li>
                                <li><a href="/Yogyakarta">Kabupaten Yogyakarta</a></li>
                            </ul>
                    </nav>
            </td>
            <td class="tb">
                    <nav class="nav">
                            <ul>
                                <li><a href="/ratuboko">Candi Ratu Boko</a></li>
								<li><a href="/studio">Studio Alam Gamplong</a></li>
                                <li><a href="/jogjabay">Jogja Bay</a></li>
                                <li><a href="/candiprambanan">Candi Prambanan</a> </li>
                                <li><a href="/Kaliurang">Kaliurang</a></li>
                            </ul>
                    </nav>
            </td>
            <td  bgcolor="white">
                <table border="0" width="100%">
                    <tr>
                        <td width="40%">
                            <img src="img/tempatwisata/ratuboko.jpg" class="wisata">
                        </td>
                        <td bgcolor="white" >
                            <p>
                             Ratu Boko terletak sekitar 3 km ke arah selatan dari Candi Prambanan. Kawasan Ratu Boko yang berlokasi di atas sebuah bukit dengan ketinggian ± 195.97 m diatas permukaan laut.
                            </p>
                            <a href="ratuboko" class="bs"><h4 align="center"><<--Baca Selengkapya-->></h4></a>
                        </td>
                    </tr>

                </table>
            </td>
        </tr>
       
    </table>
    
</div>
<div class="fot" >
    <br>
   <h4 align="center" >
    Copy right 2020 Ujian Akhir Semester
    </h4>
</div>