<html>
<head><title>Wisata</title>
    <link href="css/cs.css" rel="stylesheet" type="text/css">
   >
</head>
<body bgcolor="#8587cd">
<div class="menuatas">
    <ul>
         <li><a href="/">home</a></li>
         <li><a href="/sleman">objek wisata</a></li>
              
    </ul>
</div>
<div>
    <img src="img/tempatwisata/St.jpeg" class="cover">
     <table border="0"   width="100%">
        <tr>
             <th class="th2" colspan="2"><h1>Studio Alam Gamplong</h1></th>
        </tr>
        <tr>
            <td bgcolor="white" class="pd" width="80%">
                <hr>
                <b>Studio Alam Gamplong Harga Tiket: Sukarela Jam Buka: 09.00 - 18.00 WIB No. Telepon: - Alamat: Gamplong 1, Moyudan, Dukuh,Sumberrahayu,Sleman,DI Yogyakarta,Indonesia,55563.</b><hr>
                <p>
                  Destinasi wisata di Jogja memang tak ada habis-habisnya. Belum lagi wisata buatan yang kini marak dan menjadi hit di Yogyakarta. Terdapat destinasi wisata buatan yang tengah hits di Jogja, yaitu Studio Alam Gamplong. 
                </p>
                <p>Berada di Kabupaten Sleman, tepatnya 16 kilometer dari titik nol Yogyakarta. Tempat wisata yang sering dijuluki mini Hollywood ini menawarkan berbagai design bangunan unik. Sangat cocok bagi wisatawan yang menyukai fotografi.</p>
               <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                <br>
            </td>
            <td bgcolor="white" width="40%" >
                <table border="0" width="100%" >
                    <tr>
                        <th bgcolor="yellow" height="50px">Rekomendasi Hotel DIY</th>
                    </tr>
                    <th class="tb">
                        <nav class="hotel">
                                <div class="hotela">Special potongan 30% </div>
                            <br><br> <br><br> 
                                <div class="hotelb"><a href="/">Pesan Sekarang</a></div>
                        </nav>
                    </th>
                    <tr>
                        <th bgcolor="yellow" height="50px">Rekomendasi Restoran Sleman</th>
                    </tr>
                    <td class="tb">
                    <nav class="nav2">
                            <ul>
                                <li><a href="">Gudeg</a></li>
                                <li><a href="">Soto Simbok</a></li>
                                
                            </ul>
                    </nav>
            </td>
            <tr>
                        <th bgcolor="yellow" height="50px">Wisata Lain di Sleman</th>
                    </tr>
                    <td class="tb">
                    <nav class="nav2">
                            <ul>
                                <li><a href="/candiprambanan">Candi Prambanan</a></li>
                                <li><a href="/ratuboko">Candi Ratu Boko</a></li>
                            </ul>
                    </nav>
            </td>
                </table>
            </td>
        </tr>
    </table>
       
    </div>
</div>
<div class="fot" >
    <br>
   <h4 align="center" >
        Copy right 2020 Ujian Akhir Semester
    </h4>
</div>