<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">    
    <title>Biodata</title>   
    <link rel="stylesheet" href="css/index.css">    
</head>
<body>
    <div class="container">
        <center>
        <h1>BIODATA</h1>-
    </center>
    
    <!--Table Container-->
    <table class="table-container">
        <tr>
            <!--My Profile-->
            <td class="Profile">

            <hr>
            <h1 class="title">My Profile</h1> 

            <div>

            <img src="img/poto1.JPG" alt="">
            <span>
                Hallo nama saya Aulia Sabillah Saksaky sering dipanggil Zaki. Saya laki-laki berumur 22 tahun, hobi saya adalah bermain bola dang bermain games.Saya tinggal di Sleman, Yogyakarta dan saat ini saya sedang menempuh pendidikan semester 4 di Universitas Amikom Yogyakarta.
            </span>

            </div>

            </td>

            <!--My Skill-->
            <td class="Skill">
                    <hr>
                    <h1 class="title">My Skill</h1> 
                    <div class="content">
                        
                        <ul>

                            <li>
                                Pemrograman Web
                                <div class="level" style="width:50%">
                                     50%   
                                </div>
                            </li>
                            <li>
                                C++
                                <div class="level" style="width:60%">
                                    60%
                                </div>
                            </li>
                            <li>
                                C#
                                <div class="level" style="width:50%">
                                    50%
                                 </div>
                             </li>

                        </ul>
                    </div>
            </td>
        </tr>

        <tr>
            <!--My Experience-->
            <td>
                    <hr>
                    <h1 class="title">My Experience</h1>
                    <div>
                        Untuk saat ini saya  mempunyai pengalaman berkerja dan saya update suatu saat nanti saat saya sudah mendapatkan project/berkerja.
                    </div>
                    <table class="table">
                        <tr>
                            <th>No</th>
                            <th>Experience</th>
                            <th>Year</th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>PSG Toko emas Banyuwangi</td>
                            <td>2017</td>
                        </tr>
                    </table>
            </td>
            <!--My Education-->
            <td>
                    <hr>
                    <h1 class="title">My Education</h1>
                    <div>
                        Berikut adalah Riwayat pendidikan saya:
                    </div>
                    <table class="table">
                        <tr>
                            <th>No</th>
                            <th>School</th>
                            <th>Year</th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>SDN Cokrokembang II</td>
                            <td>2011</td>
                        </tr>
                        <tr>
                                <td>2</td>
                                <td>SMPN 1 Ngadirojo</td>
                                <td>2014</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>SMK Budi Utomo Perak,Jombang</td>
                            <td>2017</td>
                        </tr>
                        
                        
                        
                    </table>
            </td>

        </tr>
    </table>


    </div>
</body>
</html>